body{
  margin: 0;
  padding: 0;
}


nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
}

nav img {
  width: 150px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: rgb(92, 80, 96);

}

button {
  margin: 30px;
  background-color: rgb(92, 80, 96);
  color: white;
}

h1{
  color:rgb(92, 80, 96);
}